
<div class="container">
<router-outlet></router-outlet>
</div>
<!--
<div class="container" *ngIf="true">
  <div class="player">
    <h2 class="text-title">¿Como te llamas?</h2>
    <input type="text">
    <button class="big">Iniciar</button>


    <div class="alert success">
       Todo bien
    </div>
    <div class="alert error">
      Ingresa un nombre
    </div>
  </div>
</div>


<div class="container" *ngIf="false">

  <div class="timer">10s <span>+5s</span> </div>
  <div class="timer warning">10s</div>
  <div class="timer danger">10s</div>


   <div class="question">
    <div class="text-title">
      <h2><b>(0/10) | Categoría</b> ¿Soy una pregunta?</h2>
    </div>

    <div class="answers">
        <div class="answer-option">Opción 1</div>
        <div class="answer-option error">Opción 1</div>
        <div class="answer-option correct">Opción 1</div>
    </div>

   </div>
</div>



<div class="container" *ngIf="false">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Score</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Juan</td>
        <td>10</td>
        <td>11/02/23 11:23</td>
      </tr>

      <tr>
        <td>Andrea</td>
        <td>12</td>
        <td>11/04/23 11:23</td>
      </tr>

      <tr >
        <td>Karla</td>
        <td>23</td>
        <td>11/03/23 10:23</td>
      </tr>

    </tbody>
  </table>
</div>


<mi-boton [big]="true" texto="Boton 1">
</mi-boton>

<mi-boton  texto="Boton 2"/>


<mi-titulo texto="Soy un titulo" ></mi-titulo>
<mi-titulo texto="Soy un titulo 2" />
<mi-titulo texto="Titulo"/>

<alert text="Mi alerta" type="error"></alert>

<answer-option text="Opción 1"></answer-option>
<answer-option text="Opción 1" type="correct"></answer-option>
<answer-option text="Opción 1" type="error"></answer-option>


<timer [seconds]="10" [extraSeconds]="4" [showExtraSeconds]="true" ></timer>
<timer [seconds]="6" [extraSeconds]="4" [showExtraSeconds]="true" ></timer>

<timer [seconds]="seconds"></timer>


<h1>Fuera del componente</h1>


 -->
